@model List<adssys.Models.AdsSystem>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AdsSystem 1.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Dashboard">Dashboard</a></li>
                <li>
                    <div class="dropdown greeting">
                        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome <span>@ViewBag.uid</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="/changepassword?uid=@ViewBag.uid" class="btnChangePassword">Change Password</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-right">
                &lt;!&ndash;<input type="text" class="form-control" placeholder="Search...">&ndash;&gt;
                <a href="#" class="changePassword">Change Password</a>
            </form>-->

        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tablist" role="tablist">
                    <li role="presentation" class="active"><a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Provider
                        Management</a></li>
                    <li role="presentation"><a href="#ads" aria-controls="ads" role="tab" data-toggle="tab">Ads
                        Management</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="provider">
                        <div class="row placeholders">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Provider</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control providerId" id="inputEmail3" placeholder="Provider name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ads</label>
                                        <div class="col-sm-10">
                                            <select data-placeholder="Ads link" class="form-control chosen-select-deselect adsRefer" tabindex="7">
                                                <option></option>
                                               @foreach (var item in Model[0].ads)
                                               {
                                                <option>
                                                    @item.Name
                                                </option>
                                               }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-default btnAddProvider">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!--end container-->
                        </div>
                        <div class="row placeholders">
                            <h2 class="sub-header">Provider List</h2>
                            <div class="table-responsive">
                                <table class="table table-striped providerList">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Ads</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model[0].provider)
                                        {
                                            <tr>
                                                <td class="@item.Id">@item.Id</td>
                                                <td>@item.Ads</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="ads">
                        <div class="row placeholders">
                            <div class="container">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ads</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control adsLink" placeholder="Ads link">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-default btnAddAds">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!--end container-->
                        </div>
                        <div class="row placeholders">
                            <h2 class="sub-header">Ads List</h2>
                            <div class="table-responsive">
                                <table class="table table-striped adsList">
                                    <thead>
                                    <tr>
                                        <th>Ads</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model[0].ads)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Ads</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">New Ads</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control adsName" id="inputEmail3" placeholder="Ads">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ads</label>
                                <div class="col-sm-10">
                                    <select data-placeholder="Ads link" class="form-control chosen-select-deselect ads" tabindex="7">
                                        <option></option>
                                        @foreach (var item in Model[0].ads)
                                        {
                                            <option>
                                                @item.Name
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div><!--end container-->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnAddProviderPop">Save changes</button>
            </div>
        </div>
    </div>
</div>